<!doctype html>
{% extends "base.html" %}

{% block content %}
    <div class="body-class">
        <div>
            <h1 class="employeeID">Login</h1>
        </div>
        <div class="login-class">
            <form class="login-outline" action="" method="POST">
            {{ form.hidden_tag() }}
            
                {% block loginField %}{% endblock %}
            <br><br>
            <p>{{ form.submit(class="enter") }}</p>
            
        </form>
        </div>
    </div>
{% endblock %}
