<!doctype html>
{% extends "base.html" %}

{% block content %}
    <div class="body-class">
        <div>
            <h1 class="employeeID">Register Password</h1>
        </div>
        <div class="login-class">
    
            <form class="login-outline" action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            
                {{ form.password.label }}<br>
            {{ form.password(class="placeholder") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
             <br><br>
            <p>{{ form.submit(class="enter") }}</p>
        </form>
    </div>
    </div>
{% endblock %}