{% extends "base.html" %}

{% block content %}
<div class="body-css">
    <div class="body-header">
        <div class="employee">
            <h1 class="page-title" style="font-size:30px;font-weight:500;color: #3b2f2f;">Employee Management</h1>
        </div>
    </div>
    <div class="grid-middle">
        <div class="box">
            <div class="employee-logo">
                <img src="{{ url_for('static', filename='image/employee.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
            </div>
            <div>
                <p style="font-size: 17px;">Total Employees</p>
                <p><strong>{{ userStats[0] }}</strong></p>
            </div>
        </div>
        <div class="box">
            <div class="employee-logo">
                <img src="{{ url_for('static', filename='image/ticked.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
            </div>
            <div>
                <p style="font-size: 17px;">Managers</p>
            <p><strong>N/A</strong></p>
            </div>
        </div>
        <div class="box">
            <div class="employee-logo">
                <img src="{{ url_for('static', filename='image/unchecked.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
            </div>
            <div>
                <p style="font-size: 17px;">Team Members</p>
                <p><strong>N/A</strong></p>
            </div>
        </div>
    </div>
     <div class="buttonArea">
            <button class="addButton" onclick="openaddElement(); ('add-employee','add-employee-button');" id="add-employee-button">Add Employee</button>
            <button class="addButton" onclick="openRemoveElement(); ('remove-employee','remove-employee-button');" id="remove-employee-button">Remove Employee</button>
        </div>
    <div class="tableCSS">
        <table>
            <thead>
                <tr class="table-headers">
                    <th>Employee Name</th>
                    <th>ID</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="table-row">
                        <td> {{user.name}}</td>
                        <td> {{user.id}}</td>
                        <td> {{user.role}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="addElementForm" id="add-employee">
        <h2>Add Employee</h2>
        <button class="x-button" onclick="closeForm()">x</button>
        <form action="{{ url_for('management.add_employee') }}" method="POST" id="add-employee-form" novalidate>
                    {{ addEmployeeForm.hidden_tag() }}
                <p>
                    {{ addEmployeeForm.name.label }}<br>
                    {{ addEmployeeForm.name(class="placeholder") }}
                </p>
                    {% for error in addEmployeeForm.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    {{ addEmployeeForm.id.label}} <br>
                    {{addEmployeeForm.id(class="placeholder")}}
                </p>
                    {% for error in addEmployeeForm.id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    {{ addEmployeeForm.role.label}} <br>
                    {{ addEmployeeForm.role(class="placeholder")}}
                </p>
                    {% for error in addEmployeeForm.role.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="popup-buttons">
                    {{ addEmployeeForm.submit(class="enter") }}
                </div>
                </form>
    </div>
    <div class="removeElementForm" id="remove-employee">
      <h2>Remove Employee</h2>
      <button class="x-button" onclick="closeForm()">x</button>

      <form action="{{ url_for('management.remove_employee') }}" method="POST" id="remove-employee-form" novalidate>
                    {{ removeEmployeeForm.hidden_tag() }}
                <p>
                    {{ removeEmployeeForm.id.label }}<br>
                    {{ removeEmployeeForm.id(class="placeholder") }}
                </p>
                    
                <div class="popup-buttons">
                    {{ removeEmployeeForm.submit(class="enter") }}
                </div>
                </form>
    </div>
    <script src="{{ url_for('static', filename='jsFile/manager_employee.js') }}"> </script>
{% endblock %}
