{% extends "base.html" %}

{% block content %}
<div class="body-css">
    <div class="body-header">
        <div class="employee">
            <div style="display:flex;align-items:center;">
                <a href="{{ url_for('management.employee_info') }}" style="position:absolute;left:40px;text-decoration:none;color:#3b2f2f;font-size:28px;">&#8592;</a>
                <h1 class="page-title" style="font-size:30px;font-weight:500;color: #3b2f2f;">Employee List</h1>
            </div>
        </div>
    </div>
</div>
<div class="tableCSS">
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
            </tr>
        </thead>
        <tbody>
            {% if employees %}
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="2" style="text-align:center;">No Employees Found</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
