body {
  font-family: Arial, Helvetica, sans-serif;
}
.body-class{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 0;
  width: 75$;
  padding-bottom: 20px;
}
.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  font-size: 20px;
}
.table{
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  font-size: 20px;
 
}
.table .tr{
    display: inline;
}
#search{
    display: inline;
    width: 20%;
    float: left;
    border-radius: 5px;
}
.add-order-column{
  display: none;
}
#order-product-button{
  display: flex;
}
#finalize-order-button{
  display: none;
}
#cancel-order-button{
  display: none;
}
#head{
  display: flex;
  flex-direction: row;
}
.lineitem-div{
  display: flex;
  flex-direction: row;
}
.order-product-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}
.product-popup{
  display: none;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black
}
.inventory-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}
.popup-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap:8px;
}
.navbar{
  overflow: hidden;
  width: 100%;
}
.navbar a{
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
.navbar a:hover{
  color: black;
}
.navbar a.active{
  color: white;
}
.logo{
  font-size: 230px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height:60px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.stats-body{
  width: 100%;
}
#graph-area{
    float: right;
    width: 700px;
}
#button-area{
    margin: 0;    
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61,56,56);
    height: 100%;
}
#graph-buttons{
  gap: 20px;
}
<!-- UI.css elements -->

.search-bar {
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  width: 0px;
  flex: 1;
  border-color: black;
  border-radius: 8px;
}

.search-button {
  height: 44px;
  width: 44px;
  border-style: solid;
  border-width: 1px;
  margin-left: -10px;
  background-color: rgb(246, 173, 39);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.return-button {
  width: 70px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.return-button:hover {
  border-style: solid;
  cursor: pointer;
  border-width: 1px;
  border-radius: 2px;
}
