{% extends "base.html" %}

{% block content %}
    <div class="body-css">
        <div class="body-header">
            <div class="employee">
                <h1 class="page-title" style="font-size:30px;font-weight:500;color: #3b2f2f;">Products</h1>
            </div>
        </div>
        <div class="grid-middle">
            <div class="box">
                <div class="employee-logo">
                    <img src="{{ url_for('static', filename='/image/product.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
                </div>
                <div>
                    <p style="font-size: 17px;">Total Products</p>
                    <p><strong>{{ productStats[0] }}</strong></p>
                </div>
            </div>
            <a href="{{ url_for('inventory.low_stock_page') }}" style="text-decoration:none;color:inherit;">
            <div class="box">
                <div class="employee-logo">
                    <img src="{{ url_for('static', filename='/image/low_stock.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
                </div>
                <div>
                    <p style="font-size: 17px;">Low Stock</p>
                    <p><strong>{{ productStats[1] }}</strong></p>
                </div>
            </div>
            </a>
            <a href="{{ url_for('inventory.active_orders') }}" style="text-decoration:none;color:inherit;">
            <div class="box">
                <div class="employee-logo">
                    <img src="{{ url_for('static', filename='/image/expiring.png') }}" alt="Employee Icon" style="width: 35px; height: 35px;">
                </div>
                <div>
                    <p style="font-size: 17px;">Active Orders</p>
                    <p><strong>{{ productStats[2] }}</strong></p>
                </div>
            </div>
            </a>
        </div>
    <br>
        <div class="inventory-buttons">
        <div class="add-product">
            <button class="enter" onclick="openForm('add-product','add-product-button')" id="add-product-button">Add a Product</button>
            <div class="product-popup" id="add-product">
                <form action="{{ url_for('inventory.add_product') }}" method="POST" id="add-product-form">
                    {{ addProductForm.hidden_tag() }}
                <p>
                    {{ addProductForm.product_name.label }}<br>
                    {{ addProductForm.product_name(class="placeholder") }}
                </p>

                <p>
                    {{ addProductForm.on_hand_count.label }}<br>
                    {{ addProductForm.on_hand_count(class="placeholder") }}
                </p>

                <div class="popup-buttons">
                    <button class="enter" onclick="closeForm('add-product', 'add-product-button')" type="reset">Close</button>
                    {{ addProductForm.submit(class="enter") }}
                </div>
                </form>
            </div>
        </div>
        <div class="remove-product">
            <button class="enter" onclick="openForm('remove-product', 'remove-product-button')" id="remove-product-button">Remove a Product</button>
            <div class="product-popup" id="remove-product">
                <form action="{{ url_for('inventory.remove_product') }}" method="POST" id="remove-product-form">
                    {{ removeProductForm.hidden_tag() }}
                <p>
                    {{ removeProductForm.product_id.label }}<br>
                    {{ removeProductForm.product_id(class="placeholder") }}
                </p>
                    {% for error in removeProductForm.product_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="popup-buttons">
                    <button class="enter" onclick="closeForm('remove-product', 'remove-product-button')" type="reset">Close</button>
                    {{ removeProductForm.submit(class="enter") }}
                </div>
                </form>
            </div>
        </div>
        <div class="update-quantity">
            <button class="enter" onclick="openForm('update-quantity', 'update-quantity-button')" id="update-quantity-button">Update Product Quantity</button>
            <div class="product-popup" id="update-quantity">
                <form action="{{ url_for('inventory.update_quantity') }}" method="POST" id="update-quantity-form">
                    {{ updateQuantityForm.hidden_tag() }}
                <p>
                    {{ updateQuantityForm.product_id.label }}<br>
                    {{ updateQuantityForm.product_id(class="placeholder") }}
                </p>
                    {% for error in updateQuantityForm.product_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    {{ updateQuantityForm.quantity.label }}<br>
                    {{ updateQuantityForm.quantity(class="placeholder")}}
                </p>
                    {% for error in updateQuantityForm.quantity.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="popup-buttons">
                    <button class="enter" onclick="closeForm('update-quantity', 'update-quantity-button')" type="reset">Close</button>
                    {{ updateQuantityForm.submit(class="enter") }}
                </div>
                </form>
            </div>
        </div>
        <div class="set-threshold">
            <button class="enter" onclick="openForm('set-threshold', 'set-threshold-button')" id="set-threshold-button">Set Low Stock Threshold</button>
            <div class="product-popup" id="set-threshold">
                <form action="{{ url_for('inventory.set_threshold') }}" method="POST" id="set-threshold-form">
                    {{ setThresholdForm.hidden_tag() }}
                <p>
                    {{ setThresholdForm.product_id.label }}<br>
                    {{ setThresholdForm.product_id(class="placeholder") }}
                </p>
                    {% for error in setThresholdForm.product_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>
                    {{ setThresholdForm.stock_alert_minimum.label }}<br>
                    {{ setThresholdForm.stock_alert_minimum(class="placeholder")}}
                </p>
                    {% for error in setThresholdForm.stock_alert_minimum.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="popup-buttons">
                    <button class="enter" onclick="closeForm('set-threshold', 'set-threshold-button')" type="reset">Close</button>
                    {{ setThresholdForm.submit(class="enter") }}
                </div>
                </form>
            </div>
        </div>
        <div class="order-product">
            <button class="enter" onclick="showOrderForm(true)" id="order-product-button">Place an Order</button>
            <button class= "enter" onclick="if(!finalizeOrder()){alert('You must select a product to order');}else{openForm('order-product', 'finalize-order-button',true)}" id="finalize-order-button">Finalize Order</button>
            <div class="product-popup" id="order-product">
                <form id="order-product-form" action="{{ url_for('inventory.order_product') }}" method="post">
                    <div id="head">
                        <label for="product_id">Product ID</label>
                        <label for="quantity">Quantity</label>
                    </div>
                    <div id="order-body">
                    </div>
                    <div class="popup-buttons">
                        <button class="enter" onclick="closeForm('order-product', 'finalize-order-button', 'order-table')" id="close-order-button" type="reset">Close</button>
                        <button class="enter" onclick="submitOrder()" type="submit">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
        <button class="enter" onclick="showOrderForm(false)" id="cancel-order-button">Cancel Order</button>
        </div>
        <div class="navbar">
    <input type="text" id="search" onkeyup="tableSearch()" placeholder="Search Products">
        </div>
        <div id="tableCSS">
        <table>
            <thead>
                <tr class="table-headers">
                    <th class="add-order-column">Add</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity On Hand</th>
                    <th>Quantity On Order</th>
                    <th>Warning Threshold</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="table-row">
                    <td class="add-order-column"><input class="order-checkbox" type="checkbox" id="{{ product[0] }}"></td>
                    {% for column in product %}
                        {% if ( (column == product[2]) and (product[-1]) ) %}
                            {% if (product[2] < product[-1]) %}
                                <td style="color: red;">{{ product[2] }}</td>
                            {% else %}
                                <td>{{ product[2] }}</td>
                            {% endif %}
                        {% else %}
                            {% if column != None %}
                                <td>{{ column }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <script src="{{ url_for('static', filename='jsFile/inventory.js') }}"></script>
    <script>
        function submitOrder(){
        // Get lists of product ids and quantities
        const productIDList = document.getElementsByClassName('productIDs'),
        quantityList = document.getElementsByClassName('quantities');

        // Get the length of the lists (both are the same length)
        const listLength = productIDList.length;

        // Get the url for the order_product route, then convert it to json
        const inventory_url = {{ url_for('inventory.order_product')|tojson }};

        // Create data object
        let data = new FormData();

        for(let i = 0; i < listLength; i++){

            // Get the values from both input values
            product_id = productIDList[i].value;
            quantity = quantityList[i].value;

            // Bundle elements in data object before sending
            data.append('product_id', product_id);
            data.append('quantity', quantity);
        }

        // Set fetch options
        const options = {
            method: 'POST',
            body: data,
        };

        // Send the order data to flask
        response = fetch(inventory_url, options)
        .then(data => {
            //If there's an error from the API, throw data
            if(!data.ok){
                throw data;
            }
        })
        .then(data => console.log(data))
        // Catch any network call error that occurs
        .catch( error => console.error('Fetch error:',error));
    }
    </script>
{% endblock %}
