{% extends "base.html" %}

{% block content %}
<div class="body-css">
    <div class="body-header">
        <div class="employee">
            <div style="display:flex;align-items:center;">
                <a href="{{ url_for('inventory.inventory') }}" style="position:absolute;left:40px;text-decoration:none;color:#3b2f2f;font-size:28px;">&#8592;</a>
                <h1 class="page-title" style="font-size:30px;font-weight:500;color: #3b2f2f;">Low Stock</h1>
            </div>
        </div>
    </div>
</div>
<div class="tableCSS">
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.on_hand_count }}</td>
            </tr>
            {% else %}
            <tr><td colspan="3" style="text-align:center;">No low stock items.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
