<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='addTable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='UI.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<html>
    <head>
        {% if title %}
        <title>{{ title }} - IMS </title>
        {% else %}
        <title>IMS</title>
        {% endif %}
    </head>

    <body>
        <div class="header">
            <div class="left-section">
                <input type="image" src="{{ url_for('static', filename='/image/logo.png') }}" onclick="window.location.href='{{ url_for('main.index') }}'" class="logo" ></input>
            </div>
            <div class="right-section">
                <button class="menu-button" onclick="window.location.href='{{ url_for('main.index') }}'">Home</button> <br>
                <button class="menu-button" onclick="window.location.href='{{ url_for('inventory.inventory') }}'">Inventory</button><br>
                <button class="menu-button" onclick="window.location.href='{{ url_for('management.employee_info') }}'">Employee Info</button><br>
                    {% if current_user.is_anonymous %}
                    <button class="menu-button" onclick="window.location.href='{{ url_for('auth.loginID') }}'">Log in</button>
                    {% else %}
                    <button class="menu-button" onclick="window.location.href='{{ url_for('auth.logout') }}'">Log out</button>
                    {% endif %}
                
                
                
            </div>
        </div>

        <div class= "dropdown-content" id="dropdown-content">
                
                </div>

        <div class="page">
        
            <div class="errors">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li> {{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </div>
            {% block content %}{% endblock %}
        
        </div>
    </body>
    <script src = "{{ url_for('static', filename='jsFile/main.js') }}"> </script>
</html>
