.<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        {% if title %}
        <title>{{ title }} - IMS </title>
        {% else %}
        <title>IMS</title>
        {% endif %}
    </head>
    <body>
        <div class="header">
            <header class="left-section">
                <div class="logo">
                    Inventory Management System
                </div>
                <div class="navbar">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('inventory') }}">Inventory</a>
                </div>
            </header>
            <div class="right-section">
                <div>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('loginID') }}">Log in</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}">Log out</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="body-class">
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div">
    </body>
</html>
